version: "3.2"
services:
  db:
    image: postgres:14.4-alpine
    environment:
      POSTGRES_DB: go_bill_manager_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
